 body {
     background-color: lightsteelblue;
     border: 10px solid steelblue;

 }

 h2 {
     color: darkblue;
 }

 i {
     color: lightyellow;
     font-size: 40px;
 }

 sup {
     color: orange;
     font-size: 20px;
 }

 h1 {
     background-color: aquamarine;
     display: inline;
 }

 ol {
     border: 2px dashed orange;
 }

 img {
     width: 300px;
     display: block;
 }

 li {
    text-transform: uppercase;
 }